<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/photos-premium/maison-maison-design-exterieur-montrant-villa-piscine-tropicale-solarium_41487-564.jpg?w=1380);">
  <div class="container">
    <h1>Find your next stay!</h1>
    <h3>Search deals in the best hotels all around the world</h3>
  </div>


</div>
