.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 2.8em;
  font-weight: bold;
}

.banner h3 {
  font-size: 1.7em;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.img-banner {
  border-radius: 8px;
  width: 25%;
  height: auto;
}

.img-banner:hover {
  opacity: .7;
}
